body {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
}

#graphView {
    position: absolute;
    left:0; top: 0; bottom: 0; right: 0;
    background: rgb(54,37,29);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

#propertyView {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    width: 265px;
    padding: 20px;
    background: rgba(122,22,66,0.8);
    display: none;
}

#propertyList {
    margin-top: 15px;
}

#propertyList .property {
    background: rgba(255,255,255,0.2);
    padding: 10px;
    text-align: right;
    position: relative;
    margin: 5px 5px;
    
}

#propertyList .property span {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 0.8em;
    font-style: italic;
}

#logo {
    position: absolute;
    padding: 10px;
    z-index: 10000;
    bottom: 0;
    left: 10px;
}

#logo > i {
    font-size: 50px;
}

#graphControls {
    position: absolute;
    padding: 10px;
    z-index: 10000;
}

#graphControls > button, #propertyView > button {
    padding: 13px;
    margin: 5px;
    font-size: 12px;
    background-color: rgba(255,157,0, 1);
    color: rgb(255,255,255);
    border: 0px solid black;
    font-family: 'Open Sans', sans-serif;
    min-width: 75px;
}

button > i {
    padding-bottom: 5px;
    font-size: 25px;
    color: rgb(255,255,255);
}


#propertyView table {
    width: 100%;    
}

#propertyView table thead th {
    text-align: center;
    font-size: 0.8em;
}

#propertyView table tbody td {
    font-size: 0.8em;
}

#identifierInfo {
    position: absolute;
    bottom: 15px;
    font-size: 12px;
    color: #999;
}